*{
    background:#E5E5E5;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.text-area {
    height: 400px;
    border: none;
    color: #0A3871;
    margin-top: 30px;
    text-transform: lowercase;
}

::placeholder {
    color:#0A3871; 
}

.text-area:focus{
    outline: none;
}

.mensaje {
    height: 620px;
    background: white;
    background-image: url("Imagenes/Muneco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus{
    outline: none;
}

.informacion {
    color: #495057;
    font-size: 18px;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:#0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
}